html {
  font-size: 62.5%;
}

body {
  font-size: 1em;
}

@media (max-width: 300px) {
  html {
    font-size: 70%;
  }
}

@media (min-width: 500px) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 700px) {
  html {
    font-size: 120%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 200%;
  }
}

.mainTitle {
  text-align: center;
}

.row {
  display: flex;

}

.firstColumn {
  width: 20%;
  flex: 30%;
  background: url("cross.jpg");
  background-size: 20%;
  background-repeat: repeat-x repeat-y;
  margin-right: 3%;
}

.secondcolumn {
  flex: 60%;
  width: 40%;
  background-color: white;
}

.tirthcolumn {
  flex: 30%;
  background: url("cross.jpg");
  background-size: 20%;
  background-repeat: repeat-x repeat-y;
  margin-left: 3%;
}

.centeredIMG {
  margin-left: 20%;
}